$main-bg-color: hsl(233, 47%, 7%);
$card-bg-color: hsl(244, 38%, 16%);
$accent-color: hsl(277, 64%, 61%);
$heading-stats-color: hsl(0, 0%, 100%);
$paragraph-color: hsla(0, 0%, 100%, 0.75);
$stat-heading-color: hsla(0, 0%, 100%, 0.6);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	color: #fff;
	font-size: 100%;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: $main-bg-color;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;

	// div {
	// 	border: 1px solid #fff;
	// }

	.attribution {
		width: 100%;
		padding-bottom: 0.25rem;
	}

	.card {
		width: 85%;
		background-color: $card-bg-color;
		margin: 0.5rem 0;
		border-radius: 15px;

		.text-side {
			padding: 1rem;
			text-align: center;

			div {
				padding-bottom: 0.5rem;
			}

			#paragraph,
			.stat p {
				font-family: 'Lexend Deca', sans-serif;
				color: $paragraph-color;
				line-height: 1.5;
			}

			#paragraph {
				margin: 0.3rem 0;
			}

			#accent {
				color: $accent-color;
			}

			.stat p {
				text-transform: uppercase;
			}
		}

		.image-side {
			height: 200px;
			background: url('images/image-header-mobile.jpg') no-repeat center center/cover;
			position: relative;
			border-radius: 15px 15px 0 0;

			&::after {
				border-radius: inherit;
				content: '';
				opacity: 0.4;
				background-color: $accent-color;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 1;
			}

			& > * {
				z-index: 10;
			}
		}
	}
}
